<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>
      Fotosgram
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="bubbles"
      refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- refresh -->
  <!-- posts -->
  <app-posts [posts]="posts"></app-posts>
  
  <!-- infinete scroll -->
  <ion-infinite-scroll  threshold="150px" [disabled]="!habilitado" position="bottom" (ionInfinite)="siguientesPosts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas posts">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>